@media only screen and (max-width: 1440px) {

    /* common css Starts  */

    /* common css Ends  */


    /* Employee page css starts */

    .employee-landing .rating-block .catagory nav ul li {
        background-position-x: 18%;
    }

    .employee-landing .rating-block .catagory nav ul li.active {
        background-size: 18%;
    }


    /* Employee page css ends */

}


@media only screen and (max-width: 1024px) {

    /* common css Starts  */

    .employee-landing .profile-block {
        flex: 2.5;
    }

    .employee-landing .rating-block {
        flex: 4;
    }

    .employee-landing .rating-block .catagory {
        flex: 2;
    }

    .employee-landing .rating-block .respective-rating-block {
        flex: 4;
    }

    .employee-landing .rating-block .catagory .logo img {
        width: 100px;
    }

    .employee-landing .profile-block .picture-sec .img-prt img {
        width: 120px;
        height: 120px;
    }

    .employee-landing .profile-block .picture-sec .img-prt {
        margin-right: 0px;
    }

    .employee-landing .profile-block .picture-sec .name h2 {
        font-size: 1.35rem;
    }

    .employee-landing .profile-block .resume-sec .upload label,
    .employee-landing .profile-block .resume-sec a {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .employee-landing .profile-block .resume-sec .upload label img,
    .employee-landing .profile-block .resume-sec a img {
        width: 30px;
    }

    .employee-landing .profile-block .resume-sec {
        flex-direction: column;
        align-items: center;
    }


    .employee-landing .profile-block .resume-sec .upload .file-name {
        top: -15px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label {
        width: 90%;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box {
        padding: 20px 20px;
    }

    .employee-landing .rating-block .catagory nav ul li {
        font-size: 1rem;
    }

    .employee-landing .rating-block .catagory nav ul li.active {
        font-size: 1rem;
    }

    .employee-landing .rating-block .catagory nav ul li.active::after {
        right: 7%;
        width: 15px;
        height: 15px;
    }

    .employee-landing .profile-block .details-sec table tr td {
        font-size: 14px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box.new .delete::before {
        left: 46%;
        top: 19%;
        height: 60%;
    }

    /* common css Ends  */


    .managers-landing .manager-rating-block .table-section table td div.icon-name {
        padding-left: 0px;
    }

    .managers-landing .manager-rating-block {
        padding: 20px 20px 70px;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(2),
    .managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(3) {
        min-width: 250px;
        max-width: max-content;
    }

    .managers-landing .manager-rating-block .table-section table td div.remark button {
        font-size: 13px;
        padding: 5px;
    }

    .managers-landing .manager-rating-block .table-section table td div.remark textarea {
        margin-right: 10px;
    }

}

@media only screen and (max-width: 900px) {

    /* common css Starts  */

    /* common css Ends  */
    body {
        height: unset;
        overflow: unset;
    }

    .employee-landing {
        flex-flow: column;
        justify-content: center;
        height: auto;
    }

    .employee-landing .profile-block {
        flex-direction: row;
        flex-wrap: wrap
    }

    .employee-landing .profile-block .picture-sec {
        width: 40%;
        flex-flow: column;
        justify-content: center;
        position: relative;
        padding-bottom: 0px;
    }

    .employee-landing .profile-block .picture-sec .img-prt {
        flex: unset;
    }

    .employee-landing .profile-block .picture-sec .name {
        flex: unset;
        padding-top: 10px;
    }

    .employee-landing .profile-block .details-sec {
        margin: 0px;
        width: 60%;
        background: #FB9902;
        padding: 30px 0px;
    }

    .employee-landing .profile-block .resume-sec {
        order: 2;
        width: 100%;
        flex-direction: row;
        height: min-content;
        padding-bottom: 10px;
    }

    .employee-landing .profile-block .details-sec .action-btns {
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        padding: 20px 0px;
        display: flex;
        justify-content: center;
        background: white;
        box-shadow: 0px 0px 5px 1px #908d8d47;
        z-index: 9;
    }

    .employee-landing .profile-block .resume-sec .upload {
        padding: 5px 20px;
        border-radius: 6px;
        text-align: center;
    }

    .employee-landing .profile-block .resume-sec a {
        padding: 5px 10px;
        border-radius: 6px;
        margin-bottom: 0px;
    }


    .employee-landing .profile-block .resume-sec .upload .file-name {
        top: 0px;
    }

    .employee-landing .profile-block .resume-sec .upload label {
        margin-bottom: 0px;
    }

    .employee-landing .profile-block .details-sec table {
        margin: 0px;
    }

    .employee-landing .profile-block .details-sec table tr td {
        padding: 0px 30px;
        font-size: 14px;
    }


    .employee-landing .profile-block .details-sec table tr td:first-child {
        color: white;
    }

    .employee-landing .profile-block .details-sec table tr td:last-child {
        color: white;
        font-weight: normal;
    }

    .employee-landing .profile-block .picture-sec::after {
        position: absolute;
        content: '';
        height: 40%;
        width: 1px;
        background: white;
        right: 0px;
    }

    .employee-landing .rating-block .catagory .logo {
        display: none;
    }

    .employee-landing .rating-block {
        flex-direction: column;
    }

    .employee-landing .rating-block .catagory nav ul {
        display: flex;
        list-style: none;
        padding: 0px 10px;
        margin-bottom: 0px;
    }


    .employee-landing .rating-block .catagory nav ul li {
        width: auto;
        padding-left: 0px;
        padding-top: 70px;
        flex: 1;
        text-align: center;
        background-position: top;
        background-position-y: 25%;
        background-size: 30%;
        line-height: 5px;
    }


    .employee-landing .rating-block .catagory nav ul li.active {
        background-position: top;
        background-position-y: 25%;
        background-size: 30%;
        transform: scaleX(1.1);
    }

    .employee-landing .rating-block .catagory nav ul li.active::after {
        display: none;
    }

    .employee-landing .rating-block .respective-rating-block {
        max-height: unset;
        padding-bottom: 110px;
        padding-top: 20px;
    }

    .employee-landing .profile-block {
        box-shadow: unset;
        flex: unset;
    }

    .employee-landing .rating-block .catagory nav {
        margin-top: 0px;
    }

    .employee-landing .rating-block .catagory {
        box-shadow: none;
        flex: 1;
    }

    .managers-landing .empl-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .managers-landing .empl-list .select-block {
        margin-right: 0px;
    }

    .managers-landing .empl-list .indi-last-updated {
        padding-top: 20px;
        overflow: auto;
        max-width: 90vw;    
    }

    .manager-rating-block table table,
    .manager-rating-block table thead,
    .manager-rating-block table tbody,
    .manager-rating-block table th,
    .manager-rating-block table td,
    .manager-rating-block table tr {
        display: block;
    }

    .manager-rating-block table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* .manager-rating-block table tbody tr {
        border: none;
        position: relative;
        margin-bottom: 10px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.15);
        padding-bottom: 20px;
    } */

    .managers-landing .manager-rating-block .table-section {
        box-shadow: none;
    }

    .managers-landing .manager-rating-block {
        padding: 20px 50px 70px;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr {
        margin-bottom: 20px;
        box-shadow: 0px 0px 10px 1px rgba(207, 206, 206, 0.808);
    }

    .managers-landing .manager-rating-block .table-section table tbody tr td::after {
        display: none;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr td {
        max-width: 100%;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr td .remark {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(2),
    .managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(3) {
        min-width: 100%;
    }

    /* .managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(2) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */


    /* .managers-landing .manager-rating-block .table-section table tbody tr td .mob-subttl {
        display: block;
    } */

    .managers-landing .manager-rating-block .table-section table tbody tr td .mob-subttl p {
        color: black;
        font-weight: bold;
        margin-bottom: 0px;
    }

    .managers-landing .manager-rating-block .table-section table td div.remark button {
        padding: 5px 15px;
    }

    .managers-landing .manager-rating-block .table-section table td .rating {
        padding: 0px 50px;
    }

    .managers-landing .manager-rating-block .table-section table td div.remark textarea {
        width: 100%;
    }

    .managers-landing .empl-list .indi-last-updated table td img {
        width: 35px;
        height: 35px;
    }

}


@media only screen and (max-width: 767px) {

    /* home page css starts */

    /* home page css ends */

    .managers-landing nav ul li {
        width: auto;
        padding-left: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
        flex: 1;
        text-align: center;
        background-position: top;
        background-position-y: 25%;
        background-size: 30px;
        line-height: 5px;
        font-size: 0.8rem;
    }


    .managers-landing nav ul li.active {
        background-position: top;
        background-position-y: 25%;
        background-size: 30px;
        line-height: 5px;
        transform: scaleX(1.1);
    }

}


@media only screen and (max-width: 480px) {

    /* home page css starts */


    .select2-container {
        max-width: 100%;
        min-width: 200px;
    }

    .employee-landing .profile-block .details-sec table tr td {
        padding: 0px 5px;
        font-size: 12px;
    }

    .employee-landing .profile-block .picture-sec .name h2 {
        font-size: 1.1rem;
    }

    .employee-landing .profile-block .picture-sec .name {
        text-align: center;
        margin-left: 0px;
    }

    .employee-landing .profile-block .resume-sec .upload label,
    .employee-landing .profile-block .resume-sec a {
        font-size: 12px;
    }

    .employee-landing .profile-block .resume-sec .upload label img,
    .employee-landing .profile-block .resume-sec a img {
        width: 25px;
        margin-right: 3px;
    }

    .employee-landing .profile-block .resume-sec a {
        padding: 5px 10px;
        display: flex;
        flex-direction: row-reverse;
        line-height: 16px;
        justify-content: center;
    }

    .employee-landing .profile-block .resume-sec a span {
        max-width: 115px;
    }

    .employee-landing .profile-block .resume-sec .upload {
        padding: 5px 10px 0px 10px;
    }

    .employee-landing .rating-block .catagory nav ul li {
        padding: 40px 5px 5px 5px;
        background-size: 40%;
        font-size: 12px;
        background-position-y: 25%;
        line-height: 15px;
        white-space: nowrap;

    }

    .employee-landing .rating-block .catagory nav ul li.active {
        background-size: 40%;
        font-size: 12px;
        background-position-y: 25%;
    }

    .employee-landing .rating-block .respective-rating-block {
        padding: 20px 20px 80px;
    }

    .employee-landing .profile-block .details-sec .action-btns {
        padding: 10px 0px;
    }

    .employee-landing .profile-block .details-sec .action-btns .btn {
        margin: 0px 10px;
        padding: 8px 30px;
    }

    .employee-landing .profile-block .picture-sec .name {
        padding: 0px 10px;
    }

    .employee-landing .profile-block .picture-sec .name h3 {
        font-size: 1.25rem;
    }

    .employee-landing .profile-block .picture-sec .img-prt img {
        width: 100px;
        height: 100px;
    }

    .employee-landing .profile-block .resume-sec .upload .file-name {
        font-size: 12px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label {
        height: 3px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label .bar {
        height: 3px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li {
        height: 10px;
        width: 10px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul {
        top: -7px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li .num-point p {
        font-size: 10px;
    }

    .employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li .num-point {
        top: -22px;
        left: -4px;
        width: 18px;
        height: 18px;
    }

    /* home page css ends */

    .managers-landing .manager-rating-block {
        padding: 20px 20px 45px;
    }

    .managers-landing .manager-rating-block .table-section table td .rating {
        padding: 0px 20px;
    }

    .managers-landing .empl-list .indi-last-updated table {
        margin: auto;
    }

    .managers-landing .empl-list .indi-last-updated table td {
        padding: 5px 10px;
        font-size: 10px;
    }

    .managers-landing .empl-list .indi-last-updated table td .skill {
        flex-direction: column;
    }

    .managers-landing .empl-list .indi-last-updated table td img {
        width: 25px;
        height: 25px;
        margin-right: 0px;
    }

    .managers-landing .manager-rating-block .table-section table tbody tr {
        font-size: 14px;
    }

    .managers-landing select {
        font-size: 14px;
    }

    .managers-landing .manager-rating-block .app-rej .btn {
        margin: 0px;
        font-size: 13px;
    }

    .managers-landing .manager-rating-block .app-rej .btn.reject-btn {
        padding: 5px 10px;
        margin-right: 10px;
    }

    .managers-landing .manager-rating-block .app-rej {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .managers-landing .manager-rating-block .app-rej .reject-blk .inpt-brdr input {
        font-size: 13px;
    }
    .managers-landing .manager-rating-block .app-rej .btn.approve-btn {
        padding: 8px 15px;
    }

}

@media only screen and (max-width: 360px) {

    .managers-landing nav ul li {
        padding-left: 10px;
        padding-top: 40px;
        padding-bottom: 10px;
        max-width: 60px;
        font-size: 0.6rem;
    }

.employee-landing .rating-block .catagory nav ul li {
    padding: 35px 5px 5px 5px;
    font-size: 10px;
}

.employee-landing .rating-block .catagory nav ul li.active {
    font-size: 10px;
}

.managers-landing .manager-rating-block .app-rej .reject-blk .inpt-brdr input {
    max-width: 120px;
    max-height: 25px;
}

.managers-landing .manager-rating-block .app-rej .btn.approve-btn {
    padding: 6px 15px;
}

}