@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf),
        url(../fonts/OpenSans-Regular.eot);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Regular.ttf),
        url(../fonts/OpenSans-Regular.eot);
}

* {
    margin: 0px;
    padding: 0px;
    outline: none !important;
}

*:focus {
    outline: none !important;
}

body {
    font-family: OpenSans-Regular !important;
}

.tooltip-inner {
    background-color: white;
    color: black;
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: white !important;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: white !important;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: white !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: white !important;
}

.select2-container {
    max-width: 100%;
    min-width: 300px;
}

.max-width {
    max-width: 1440px;
    margin: auto;
}

.managers-landing {
    margin-top: 65px;
}

/* common css starts */

/* common css ends */



/* Employee page css starts */

.employee-landing {
    height: calc(100vh - 65px);
    overflow: hidden;
    margin-top: 65px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
}

.employee-landing .profile-block {
    display: flex;
    flex-direction: column;
    flex: 2;
    box-shadow: 0px 0 5px 1px #e0e0e0;
}

.employee-landing .profile-block .picture-sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background: #FB9902;
    padding-top: 10px;
    padding-bottom: 20px;
}

.employee-landing .profile-block .picture-sec .img-prt {
    flex: 2;
    text-align: right;
    margin-right: 15px;
}


.employee-landing .profile-block .picture-sec .name {
    flex: 3;
    text-align: left;
    margin-left: 15px;
    padding: 0px 20px;
}

.employee-landing .profile-block .picture-sec .img-prt img {
    width: 150px;
    height: 150px;
}

.employee-landing .profile-block .resume-sec {
    display: flex;
    justify-content: space-around;
    color: white;
    background: #FB9902;
    padding: 0% 5% 20px;
    font-size: 14px;
}

.employee-landing .profile-block .resume-sec .upload {
    flex: 1;
}

.employee-landing .profile-block .resume-sec img {
    width: 30px;
}

.employee-landing .profile-block .details-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 20px;
}

.employee-landing .profile-block .details-sec table {
    margin: 0px 0px 20px;
}

.employee-landing .profile-block .details-sec table tr td {
    padding: 2px 30px;
    font-weight: bold;
}

.employee-landing .profile-block .details-sec .action-btns .btn {
    margin: 0px 20px;
    padding: 10px 40px;
    border-radius: 6px;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.3s;
}


.employee-landing .profile-block .details-sec .action-btns .btn:hover {
    transform: scale(1.1);
}


.employee-landing .profile-block .details-sec .action-btns .btn:focus {
    box-shadow: none;
}


.employee-landing .profile-block .details-sec .action-btns .btn.save {
    background: #4072EE;
    color: white;
}


.employee-landing .profile-block .details-sec .action-btns .btn.cancel {
    border: 1px solid #4072EE;
    color: #598DF3;
}

.employee-landing .profile-block .details-sec table tr td:first-child {
    color: #4A7DF0;
}

.employee-landing .profile-block .details-sec table tr td:last-child {
    color: #8B8B8B;
}


.employee-landing .profile-block .resume-sec .upload .file-name {
    display: block;
    text-align: center;
    font-size: 14px;
    color: wheat;
    position: relative;
    top: -5px;
    left: 5px;
    text-align: left;
    padding-left: 45px;
}


.employee-landing .profile-block .resume-sec .upload #resume {
    display: none;
}

.employee-landing .profile-block .resume-sec .upload label {
    margin-bottom: 0px;
    cursor: pointer;
    text-align: center;
    line-height: 0px;
}

.employee-landing .profile-block .resume-sec a {
    flex: 1;
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 0px;
}

.employee-landing .profile-block .resume-sec a img {
    margin-right: 5px;
}

.employee-landing .rating-block {
    display: flex;
    flex: 3;
}

.employee-landing .rating-block .catagory {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0 5px 1px #e0e0e0;
    border-bottom: none;
    height: 100vh;
}

.employee-landing .rating-block .respective-rating-block {
    padding: 40px;
    flex: 3;
    max-height: calc(100vh - 65px);
    overflow-y: auto;
    /* background-color: #F5F6FA; */
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block {
    display: none;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block.active {
    display: block;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block.active .add-box {
    height: 40px;
    width: 40px;
    background: rgba(128, 128, 128, 0.384);
    border-radius: 50%;
    margin: auto;
    position: relative;
    cursor: pointer;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block.active .add-box::before {
    content: '';
    position: absolute;
    left: 48%;
    width: 2px;
    top: 15%;
    transform: rotate(90deg);
    height: 70%;
    background: white;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block.active .add-box::after {
    content: '';
    position: absolute;
    left: 48%;
    width: 2px;
    top: 15%;
    transform: rotate(180deg);
    height: 70%;
    background: white;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box {
    position: relative;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 10px 1px rgba(202, 202, 202, 0.62);
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 5px;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box.new .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(180, 180, 180, 0.705);
    cursor: pointer;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box.new .delete::before {
    content: '';
    position: absolute;
    left: 47%;
    width: 2px;
    top: 17%;
    transform: rotate(90deg);
    height: 70%;
    background: #b1afaf;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box select {
    width: 30%;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box input {
    display: none;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label {
    display: block;
    width: 80%;
    margin: 45px auto 10px;
    height: 5px;
    background: rgb(216, 215, 215);
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -9px;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li {
    height: 13px;
    width: 13px;
    background: orange;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li .num-point {
    position: relative;
    top: -27px;
    left: -4px;
    font-weight: bold;
    line-height: 5px;
    width: 22px;
    height: 22px;
    transform: rotate(-45deg);
    border-radius: 50% 50% 50% 0%;
    transition: all 0.3s ease-in-out;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li.active .num-point {
    background: orange;
    transition: all 0.3s ease-in-out;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li .num-point p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label ul li.active .num-point p {
    color: white;
    transition: all 0.3s ease-in-out;
}


.employee-landing .rating-block .respective-rating-block .indi-rating-block .choose-box label .bar {
    position: relative;
    width: 0%;
    border-radius: 20px;
    height: 5px;
    background: orange;
}


.employee-landing .rating-block .catagory .logo img {
    width: 150px;
}

.employee-landing .rating-block .catagory .logo {
    margin: 10px 0px 20px;
}

.employee-landing .rating-block .catagory nav {
    width: 100%;
    margin-top: 40px;
}

.employee-landing .rating-block .catagory nav ul li {
    padding: 20px 0px;
    padding-left: 35%;
    font-size: 1rem;
    font-weight: bold;
    color: #B8C5D3;
    cursor: pointer;
    letter-spacing: 0.03rem;
    background-size: 15%;
    background-position: left;
    background-position-x: 15%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.employee-landing .rating-block .catagory nav ul li.active {
    position: relative;
    background: #0690c9;
    box-shadow: 0px 0px 10px 2px #a29e9e;
    border-radius: 6px;
    transform: scale(1.1);
    color: white;
    font-weight: 900;
    background-position: left;
    background-size: 15%;
    background-position-x: 15%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}


.employee-landing .rating-block .catagory nav ul li.active::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: 20px;
    height: 20px;
    background: url(../images/right-arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.employee-landing .rating-block .catagory nav ul li.tools {
    background-image: url(../images/tools-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.tech {
    background-image: url(../images/tech-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.domain {
    background-image: url(../images/domain-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.process {
    background-image: url(../images/process-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.practice {
    background-image: url(../images/practice-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.view-data {
    background-image: url(../images/eye-gray-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.tools.active {
    background-image: url(../images/tools-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.tech.active {
    background-image: url(../images/tech-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.domain.active {
    background-image: url(../images/domain-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.process.active {
    background-image: url(../images/process-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.practice.active {
    background-image: url(../images/practice-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.view-data.active {
    background-image: url(../images/eye-white-icon.svg);
}

.employee-landing .rating-block .catagory nav ul li.view-data.active::after {
    display: none;
}

/* Employee page css ends */


/* Manager page css Starts */

.managers-landing .empl-list {
    display: flex;
    justify-content: center;
    background: #FB9902;
    color: white;
    padding: 20px 0px;
}

.managers-landing .empl-list .indi-last-updated table td {
    border: 1px solid;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    max-width: 120px;
    min-width: 70px;
}

.managers-landing .empl-list .indi-last-updated table td .skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

.managers-landing .empl-list .indi-last-updated table td p {
    margin-bottom: 0px;
}

.managers-landing .empl-list .indi-last-updated table td img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.managers-landing .empl-list .select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.managers-landing .empl-list .indi-last-updated {
    max-width: 70vw;
    overflow: auto;
}

.managers-landing .logo {
    position: fixed;
    left: 20px;
    top: 17px;
}


.managers-landing .logo img {
    width: 120px;
}

.managers-landing .logo {
    margin: 10px 0px 20px;
}

.managers-landing .manager-rating-block {
    padding: 20px 50px 80px;
    overflow-y: auto;
}

.managers-landing .manager-rating-block .table-section {
    display: none;
    box-shadow: 0px 0px 10px 1px rgba(207, 206, 206, 0.808);
}

.managers-landing .manager-rating-block .table-section.active {
    display: block;
}

.managers-landing .manager-rating-block .table-section table {
    display: table;
    position: relative;
}

.managers-landing .manager-rating-block .table-section table th,
.managers-landing .manager-rating-block .table-section table td {
    text-align: center;
    padding: 10px 30px;
    vertical-align: middle;
}


.managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(1) {
    min-width: 200px;
}

.managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(2),
.managers-landing .manager-rating-block .table-section table tbody tr td:nth-child(3) {
    min-width: 300px;
}

.managers-landing .manager-rating-block .table-section table thead tr th {
    color: white;
    background: #0690c9;
    padding: 15px 30px;
}


.managers-landing .manager-rating-block .table-section table tbody tr td {
    color: #B9C6D4;
    position: relative;
}

.managers-landing .manager-rating-block .table-section table tbody tr td .skill-name {
    color: black;
}

.managers-landing .manager-rating-block .table-section table tbody tr td::after {
    content: '';
    width: 1px;
    height: 70%;
    position: absolute;
    background: rgba(128, 128, 128, 0.377);
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}


.managers-landing .manager-rating-block .table-section table tbody tr td:last-child::after {
    display: none;
}

.managers-landing .manager-rating-block .table-section table tbody tr td .remark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.managers-landing .manager-rating-block .table-section table td .rating input {
    display: none;
}

.managers-landing .manager-rating-block .table-section table td .rating label {
    display: block;
    width: 100%;
    margin: 35px auto 10px;
    height: 3px;
    background: rgb(216, 215, 215);
}

.managers-landing .manager-rating-block .table-section table td .rating label ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -7px;
}

.managers-landing .manager-rating-block .table-section table td .rating label ul li {
    height: 10px;
    width: 10px;
    background: orange;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: black;
}

.managers-landing .manager-rating-block .table-section table td .employee-rating.rating label ul li {
    cursor: unset;
}

.managers-landing .manager-rating-block .table-section table td .rating label ul li .num-point {
    position: relative;
    top: -21px;
    left: -4px;
    font-weight: bold;
    line-height: 5px;
    width: 18px;
    height: 18px;
    transform: rotate(-45deg);
    border-radius: 50% 50% 50% 0%;
    transition: all 0.3s ease-in-out;
}


.managers-landing .manager-rating-block .table-section table td .rating label ul li.active .num-point {
    background: orange;
    transition: all 0.3s ease-in-out;
}


.managers-landing .manager-rating-block .table-section table td .rating label ul li .num-point p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    font-size: 10px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.managers-landing .manager-rating-block .table-section table td .rating label ul li.active .num-point p {
    color: white;
    transition: all 0.3s ease-in-out;
}


.managers-landing .manager-rating-block .table-section table td .rating label .bar {
    position: relative;
    width: 0%;
    border-radius: 20px;
    height: 3px;
    background: orange;
}

.managers-landing .manager-rating-block .table-section table td div .mob-hdr {
    display: none;
}


.managers-landing .manager-rating-block .table-section table td div.icon-name {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.managers-landing .manager-rating-block .table-section table td div.icon-name img {
    margin-right: 10px;
}


.managers-landing .manager-rating-block .table-section table td div.icon-name p {
    margin-bottom: 0px;
}

/* .managers-landing .manager-rating-block .table-section table tbody tr td .form-control {
    width: 90%;
    margin: auto;
} */


.managers-landing .manager-rating-block .table-section table td div.remark textarea {
    border: 1px solid #B9C6D4;
    padding: 5px 10px;
    max-height: 100px;
    max-width: 100%;
    border-radius: 6px;
    margin-right: 20px;
}

.managers-landing .manager-rating-block .app-rej {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    right: 0px;
    padding: 10px 0px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 10px 1px rgba(207, 206, 206, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
}

.managers-landing .manager-rating-block .app-rej .btn {
    margin: 0px 20px;
    color: white;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.2s linear;
}

.managers-landing .manager-rating-block .app-rej .reject-blk {
    display: flex;
}

.managers-landing .manager-rating-block .app-rej .reject-blk .inpt-brdr {
    display: flex;
    padding: 4px 3px;
    background:  rgba(235, 83, 83, 1);
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    transition: all 0.2s linear;
}

.managers-landing .manager-rating-block .app-rej .reject-blk button{
    margin: 0px;
}

.managers-landing .manager-rating-block .app-rej .reject-blk .inpt-brdr input {
    border: none;
    border-radius: 3px;
    padding: 5px;
}

/* .managers-landing .manager-rating-block .app-rej .btn:hover {
    transform: scale(1.05);
    transition: all 0.2s linear;
} */

.managers-landing .manager-rating-block .app-rej .btn.reject-btn.disbl {
    cursor: default;
    opacity: 1;
    background:  rgba(167, 167, 167, 0.65);
}

.managers-landing .manager-rating-block .app-rej .reject-blk .inpt-brdr.disbl {
    background:  rgba(167, 167, 167, 0.65);
    transition: all 0.2s linear;
}

.managers-landing .manager-rating-block .app-rej .btn.reject-btn {
    background: #EB5353;
    position: relative;
    left: 0px;
    padding: 8px 10px;
    margin: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow : none; 
    display: flex;
    align-items: center;
}

.managers-landing .manager-rating-block .app-rej .btn.approve-btn {
    padding: 8px 30px;
    background-image: linear-gradient(to bottom, #B5D11C, #88B532);
    box-shadow : none;
}


.managers-landing .manager-rating-block .table-section table tbody tr td .mob-subttl {
    display: none;
}

.managers-landing .manager-rating-block .table-section table td div.remark button {
    font-size: 14px;
}

.managers-landing nav {
    max-width: 100%;
    display: flex;
    padding: 10px;
    overflow: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.managers-landing nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin: auto;
    box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.38);
    border-radius: 6px;
}



.managers-landing nav ul li {
    padding: 20px 0px;
    padding-left: 60px;
    padding-right: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #B8C5D3;
    cursor: pointer;
    letter-spacing: 0.03rem;
    background-size: 35px;
    background-position: left;
    background-position-x: 15%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

.managers-landing nav ul li.active {
    position: relative;
    background: #0690c9;
    box-shadow: 0px 0px 10px 2px #a29e9e4a;
    border-radius: 6px;
    transform: scaleX(1.1);
    color: white;
    font-weight: 900;
    background-position: left;
    background-size: 35px;
    background-position-x: 15%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
}

/* 
.managers-landing nav ul li.active::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: 20px;
    height: 20px;
    background: url(../images/right-arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} */

.managers-landing nav ul li.tools {
    background-image: url(../images/tools-gray-icon.svg);
}

.managers-landing nav ul li.tech {
    background-image: url(../images/tech-gray-icon.svg);
}

.managers-landing nav ul li.domain {
    background-image: url(../images/domain-gray-icon.svg);
}

.managers-landing nav ul li.process {
    background-image: url(../images/process-gray-icon.svg);
}

.managers-landing nav ul li.practice {
    background-image: url(../images/practice-gray-icon.svg);
}

.managers-landing nav ul li.tools.active {
    background-image: url(../images/tools-white-icon.svg);
}

.managers-landing nav ul li.tech.active {
    background-image: url(../images/tech-white-icon.svg);
}

.managers-landing nav ul li.domain.active {
    background-image: url(../images/domain-white-icon.svg);
}

.managers-landing nav ul li.process.active {
    background-image: url(../images/process-white-icon.svg);
}

.managers-landing nav ul li.practice.active {
    background-image: url(../images/practice-white-icon.svg);
}

/* Manager page css ends */